<a href="https://colab.research.google.com/github/AjayKadoula/Mtech_Lab_1/blob/main/MultivariateRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Multivariate Regression**

In an **univariate regression** has an independent variable x and a dependent variable y. So you can plot a curve: x vs y.

In the case of a **multivariate regression**, there is single dependent variable y as in univariate regression, but the independent variable x has more than 1 dimension.

As the name implies, multivariate regression is a technique that estimates a single regression model with more than one outcome variable. When there is more than one predictor variable in a multivariate regression model, the model is a multivariate multiple regression. So a multivariate regression model refers to regression models with at least two dependent/outcome variables which can be predicted by one or more independent variables.



**For example**

 you could be predicting the price of a housing plot based on features like size of the house, distance to the nearest city etc. Here y is the price, which is a single variable. But x now contains multiple variables like size of the plot, distance to the nearest city etc.

In [21]:
import numpy as np
import pandas as pd

In [22]:
data = pd.read_csv('dataset.txt',header = None)

x = data.iloc[:,0:2]

y = data.iloc[:,2]

m = len(y)

data.head(5)

      0  1       2
0  2104  3  399900
1  1600  3  329900
2  2400  3  369000
3  1416  2  232000
4  3000  4  539900

In [23]:
x = (x-np.mean(x))/np.std(x)

In [24]:
y = y[0:,np.newaxis]
ones = np.ones((m,1))
x = np.hstack((ones,x))
alpha = 0.01
iterations = 400
theta = np.zeros((3,1))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  """Entry point for launching an IPython kernel.

In [25]:
def computeCostMulti(x,y,theta):
    temp = np.dot(x,theta) - y
    return (np.sum(np.power(temp,2)))/(2*m)
J = computeCostMulti(x,y,theta)
print(J)

65591548106.45744

In [26]:
def gradientDescentMulti(x,y,theta,alpha,iterations):
    for _ in range(iterations):
        temp = np.dot(x,theta)-y
        temp = np.dot(x.T,temp)
        theta = theta - (alpha/m)*temp
    return theta
theta = gradientDescentMulti(x,y,theta,alpha,iterations)
print(theta)

[[334302.06399328]
 [ 99411.44947359]
 [  3267.01285407]]

In [27]:
J = computeCostMulti(x,y,theta)
print(J)

2105448288.6292474